<div class="navv">
    <div class="logo">Jhando.</div>
    <div class="menu">
        <ul class="menu-bar">
            <li class="menu-items"><a class="menu-link" href="/">Home</a></li>
            <li class="menu-items"><a class="menu-link" href="#about">About</a></li>
            <li class="menu-items"><a class="menu-link" href="#contact-us">Services</a></li>
            <li class="menu-items"><a class="menu-link" href="#privacy-policy">Blog</a></li>
            <li class="menu-items"><a class="menu-link" href="#contact-us">Contact us</a></li>
            <li class="menu-items"><a class="menu-link round" href="/login">Login</a></li>
        </ul>

    </div>
</div>